/* Modal */
.modal {
  position: fixed;
  z-index: 3;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.modal > div {
  width: 80%;
  height: 90%;
  background-color: var(--second-bg-color);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal button {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Media queries */
@media (min-width: 640px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
